/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/var/cache/*
/app/config/parameters.yml
/app/logs/*
/var/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/httpd_server_sla/
/.rules/
*.tar
*.gz
*zip
/in_plus/
/.idea/
/git_log.txt
*.php~
details_vechi.html.twig