{# {{ form(form) }} #}

<script type="text/javascript">
$("#registration_owner").change(function(){
    var data = {
        owner_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_branches") }}',
        data: data,
        success: function(data) {
            var $branch_selector = $('#registration_branch');
 
            $branch_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $branch_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});


$("#registration_branch").change(function(){
    var data = {
        branch_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_locations") }}',
        data: data,
        success: function(data) {
            var $location_selector = $('#registration_location');
 
            $location_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $location_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});


$("#registration_location").change(function(){
    var data = {
        location_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_equipments") }}',
        data: data,
        success: function(data) {
            var $equipment_selector = $('#registration_equipment');
 
            $equipment_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $equipment_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});
</script>