<br/>

<div class="row no-print">
    <div class="col-lg-12 text-center">
        <button type="button" class="btn btn-success" onclick="window.print()">Printeaza {{ document }}</button>
    </div>
</div>

<br/>

<div class="row no-print">
    <div class="col-lg-12 text-center">

        <div class="bs-example">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Pentru utilizatorii de <strong>Internet Explorer</strong> si <strong>Firefox</strong>: inainte de a
                    printa se recomanda folosirea functiei <em>Print Preview</em> (<strong>ALT+F</strong> si
                    <strong>V</strong>) pentru p previzualizare a documentului.</p>

                <p>Pentru a printa corespunzator documentul, <strong>ELIMINTATI</strong> setarile pentru <em>HEADER</em>
                    si <em>FOOTER</em></p>
            </div>
        </div>


    </div>
</div>