<br/>

{% if document != 'fisa' %}
    <div class="row no-print">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-success" onclick="window.print()">Printează {{ document }}</button>
        </div>
    </div>

    <br/>

    <div class="row no-print">
        <div class="col-lg-12 text-center">

            <div class="bs-example">
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>Pentru utilizatorii de <strong>Internet Explorer</strong> și <strong>Firefox</strong>: înainte de a
                        printa se recomandă folosirea funcției <em>Print Preview</em> (<strong>ALT+F</strong> și
                        <strong>V</strong>) pentru previzualizare a documentului.</p>

                    <p>Pentru a printa corespunzător documentul, <strong>ELIMINAȚI</strong> setările pentru <em>HEADER</em>
                        și <em>FOOTER</em></p>
                </div>
            </div>


        </div>
    </div>
{% else %}
    <div class="row no-print">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-success" id="print-button" data-url="{{ path('tickets_print', { id: ticket.id }) }}">Genereaza PDF</button>
        </div>
    </div>

    <br/>
{% endif %}
