security:
    encoders:
#        Tlt\ProfileBundle\Entity\User: sha512
#        Symfony\Component\Security\Core\User\User: plaintext
        Tlt\ProfileBundle\Entity\User:
            algorithm:        sha1
            encode_as_base64: false
            iterations:       1

    role_hierarchy:
        ROLE_TICKET_SOLVE: [ROLE_TICKET_INSERT]
        ROLE_TICKET_CLOSE: [ROLE_TICKET_SOLVE]
        ROLE_ALLOWED_TO_EDIT_EQUIPMENTS: [ROLE_USER]
        ROLE_ADMIN: [ROLE_ALLOWED_TO_EDIT_EQUIPMENTS, ROLE_TICKET_INSERT]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN]
        ROLE_SUPER_SLA: [ROLE_SLA]

    providers:
        #in_memory:
            #memory:
                #users:
                    #user:  { password: userpass, roles: [ 'ROLE_USER' ] }
                    #admin: { password: adminpass, roles: [ 'ROLE_ADMIN' ] }
        main:
            entity:
                class: Tlt\ProfileBundle\Entity\User
                property: username

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern:  ^/profile/(login|reset-request|send-email|check-email)$
            security: false

        reset_password:
            pattern:    ^/profile/reset/*
            security:  false

        secured_area:
            pattern:    ^/
            anonymous: ~
            form_login:
                login_path:  tlt_profile_security_login
                check_path:  tlt_profile_security_check
            logout:
                path:   tlt_profile_security_logout
                target: /
    access_control:
        - { path: ^/admin/owners/index, roles: ROLE_USER }
        - { path: ^/admin/branches/index, roles: ROLE_USER }
        - { path: ^/admin/locations/index, roles: ROLE_USER }
        - { path: ^/admin/zone-locations/index, roles: ROLE_USER }
        - { path: ^/admin/zone-locations, roles: ROLE_ALLOWED_TO_EDIT_EQUIPMENTS }
        - { path: ^/admin/departments/index, roles: ROLE_USER }
        - { path: ^/admin/services/index, roles: ROLE_USER }
        - { path: ^/admin/properties/index, roles: ROLE_USER }
        - { path: ^/admin/sts/index, roles: ROLE_USER }
        - { path: ^/admin/equipments/index, roles: ROLE_USER }
        - { path: ^/admin/equipments/details, roles: ROLE_USER }
        - { path: ^/admin/equipments, roles: ROLE_ALLOWED_TO_EDIT_EQUIPMENTS }
        - { path: ^/admin/sav/index, roles: ROLE_USER }
        - { path: ^/admin/sav, roles: ROLE_ALLOWED_TO_EDIT_EQUIPMENTS }
        - { path: ^/admin/mappings/index, roles: ROLE_USER }
        - { path: ^/admin/mappings, roles: ROLE_ALLOWED_TO_EDIT_EQUIPMENTS }
        - { path: ^/admin/systems/index, roles: ROLE_USER }
        - { path: ^/admin/index, roles: ROLE_USER }
        - { path: ^/admin/ajax, roles: ROLE_USER }
        - { path: ^/admin/fhs7, roles: ROLE_USER }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/tickets/add, roles: ROLE_TICKET_INSERT }
        - { path: ^/tickets/add3, roles: ROLE_TICKET_INSERT }
        - { path: ^/tickets, roles: ROLE_USER }
        - { path: ^/anexa, roles: ROLE_USER }
        - { path: ^/sla, roles: ROLE_ADMIN }
        - { path: ^/sys, roles: ROLE_ADMIN }
        - { path: ^/profile/user/details, roles: ROLE_USER }
        - { path: ^/profile/user/chpwd, roles: ROLE_USER }
        - { path: ^/profile/user, roles: ROLE_ADMIN }
        - { path: ^/reports/sla, roles: ROLE_SLA }
        - { path: ^/reports/indisponibility, roles: ROLE_SUPER_SLA }
        - { path: ^/, roles: ROLE_USER }
        # - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
    access_denied_url: /denied