{% extends '::base.html.twig' %}

{% block page %}
	<br >
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-dismissable alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<h4 class="text-danger"> Introducerea deranjamentelor aferente contractelor de mentenanta C21/2018 - SCL OMEPA, C48/2018 - MMS OMEPA si C136 / 2018 CNTEE Transelectrica se va efectua prin noua aplicatie Call-Center (SLA) care va fi accesata la adresa: https://app8.teletrans.ro/sla/.</h4>
				<h4 class="text-danger">La aceasta adresa va rula in continuare vechea aplicatie Call-Center, DOAR pentru consultarea tichetelor aferente C256/2014 (introduse inainte de 01.07.2018)</h4>
			</div>
		</div>
	</div>
{% endblock %}