{% if is_granted('ROLE_TICKET_CLOSE') %}
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Confirmati inchiderea tichetului?</label>
                <label class="checkbox-inline">
                    {{ form_widget(form.isClosed) }}Da
                </label>
            </div>
        </div>
    </div><!-- row -->
{% endif %}