{% extends '::base.html.twig' %}

{% block page %}

    <div class="row">
        <div class="col-lg-12">
            <h2>Informații utile</h2>
            <blockquote>
                <p class="text-info">Se introduc doar deranjamentele care afecteaza SLA-ul.</p>
            </blockquote>

            <div class="alert alert-success">
                <p><strong>A fost adaugat un nou raport - <a href="{{ path('reports_sla') }}">SLA</a>, disponibil doar managerilor de compartiment.</strong></p>
                <p>Aici regasiti informatii importante despre nivelul disponibilitatilor si valoarea timpilor de intrerupere. Se poate face click pe valoarea din coloana <em>Timp total de indisponibilitate</em> pentru a putea identifica tichetelor care au generat aceasta valoare.</p>
            </div>

            <blockquote>
                <p class="text-danger">A fost modificat modul de selectare a echipamentului in momentul rezolvarii unui tichet.</p>
                <p>S-a introdus un element "inteligent" care permite o cautare rapida in functie de cateva cuvinte introduse.</p>
                <p>
                    <em>Pentru a gasi echipamentul dorit se recomanda introducerea urmoatarei secvente de cuvinte:</em><br>
                    <code>serviciu locatie denumire</code>. Exemplu: <code>calc cluj pop</code><br><br>
                    <img src="{{ asset('css/img01.jpg') }}" />
                </p>
            </blockquote>


            <blockquote>
                <p class="text-info">Pentru a lista fisele de interventie:
                    <ul>
                        <li>
                            Folositi combinatia de taste: <strong>CTRL+P</strong>. Pe <em>Chrome</em> va duce direct in <strong>Print Preview</strong>,
                            in celelalte browsere (<em>Firefox</em>, <em>Internet explorer</em>) va va duce in fereastra de printare. Pentru cele din urma,
                            pentru a avea acces la <em>Print Preview</em>, folositi combinatia de taste <strong>ALT+F</strong> si apoi <strong>V</strong>,
                            sau mergeti in meniu pe <strong>File / Print Preview</strong>.
                        </li>
                        <li>
                            Recomandare, din dialogul <strong>Print Preview</strong>, eliminati informatiile din <strong>header</strong> si <strong>footer</strong>.
                        </li>
                    </ul>
                </p>
            </blockquote>
        </div>
    </div>

{% endblock %}