{% extends '::base.html.twig' %}

{% block page %}

	<div class="row">
		<div class="col-lg-12">
            <h2>Întrebări și răspunsuri</h2>
            <blockquote>
                <p class="text-info">Daca actualizam acum baza de date de <code>echipamente</code>, aceasta se pastreaza?  (chiar daca tichetele sunt doar de test)</p>
                <p class="text-success">Da.</p>
                <small>Agentia CLUJ</small>
            </blockquote>


            <blockquote>
                <p class="text-info">Daca vreau sa selectez  un singur "serviciu" (calculator, birotica, etc) la o locatie, daca schimb serviciul, trebuie sa reiau "agentia/centrul", "locatia" cu toate ca eu lucrez la aceeasi locatie</p>
                <p class="text-success">Da. Intrucat filtrele sunt corelate intre ele, ordinea de parcurgere este urmatoarea: de <code>sus in jos</code> si de la <code>stanga la dreapta</code>.</p>
                <small>Agentia CLUJ</small>
            </blockquote>
        </div>
	</div>


{% endblock %}