{% extends '::base.html.twig' %}

{% block page %}

	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-dismissable alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Notificare:</strong> Pentru inceput toate drepturile sunt doar de <a href="#" class="alert-link">vizualizare</a>. Daca este necesar a se face modificari la informatiile pe care le regasiti, va rog sa ma contactati (datele de contact le regasiti mai jos).
				<br/>
				<br/>
				<strong><em>Le voi opera doar eu pana vom definitiva complet datele de intrare!</em></strong>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-10">
			<div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">Catalin&nbsp;Bradescu</p>
                    <p class="announcement-text">Agentia TELETRANS Craiova</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">6354</div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">0741 01 21 59</div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">cbradescu@teletrans.ro</div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
			</div>
		</div>
		<div class="col-lg-1">
		</div>
	</div>


{% endblock %}