{% extends '::base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}

<script type="text/javascript">

    $(document).ready(function() {

		$("#equipment_agency_center").change(function(){
			var data = {
				agency_center_id: $(this).val()
			};


            var url = '{{ path('tlt_admn_test_locations', {'agency_center_id': '%s'}) }}';
			var agency_center_id = ( $(this).val() == "" ? '0' : $(this).val() );
			
            $.post(url.replace(/%25s/, agency_center_id), function(data) {
				
                $('#equipment_location option').remove();
                for (i in data) {
                    var option = $('<option></option>') . attr('value', data[i][0]) . text(data[i][1]);
                    $('#equipment_location').append(option);
                }
            }, 'json');
        })

		$("#equipment_department").change(function(){
			var data = {
				department_id: $(this).val()
			};


            var url = '{{ path('tlt_admn_test_services', {'department_id': '%s'}) }}';
			var department_id = ( $(this).val() == "" ? '0' : $(this).val() );
			
            $.post(url.replace(/%25s/, department_id), function(data) {
				
                $('#equipment_service option').remove();
                for (i in data) {
                    var option = $('<option></option>') . attr('value', data[i][0]) . text(data[i][1]);
                    $('#equipment_service').append(option);
                }
            }, 'json');
        })
	});
</script>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}