<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <style type="text/css">
        <!-- .normal {font-family: arial, verdana; font-size: 10pt; font-weight: normal; color: #808285;} -->
        <!-- .link A:link, A:visited, A:active, A:hover {font-family: arial, verdana; font-size: 10pt; font-weight: bold; color: #00AEEF;} -->
    </style>
</head>
<body>
<div class="normal">
    Pentru detalii accesati link-ul urmator: <a href="http:{{ url('ticket_details', {'id': ticket.id}, true) }}">Tichet {{ ticket.id }}</a>
</div>
</body>
</html>